.photoprofil {
 	width: 100px;
 }

 .gauche {
 	float: left;
 	margin-right: 10px;
 	border-style: double;
 	padding: 10px;
 	/*max-width: 100px;*/
 	width: 100px;
 	position: fixed;
 }

 .droit {
 	float: right;
 	border-style: double;
 	padding: 10px;
 	max-width: 250px;
 	width: 220px;
 	
 	max-height: 100%;

 }
 

 .milieu {
 	margin-right: 260px;
 	margin-left: 140px;
 	border-style: double;
 	padding: 10px;

 }

 a {
 	color: black;
 	text-decoration-line: none;
 }

 .entete {
 	position: fixed;
 	background-color: #99ccff;
 	width: 100%;
 	top : 0px;

 }

 
 .deb {
 	padding-bottom: 250px;
 }