.photoprofil {
 	width: 100px;
 }

 .gauche {
 	float: left;
 	margin-right: 10px;
 	border-style: double;
 	padding: 10px;
 	/*max-width: 100px;*/
 	width: 100px;
 }

 .droit {
 	float: right;
 	border-style: double;
 	padding: 10px;
 	/*max-width: 250px;*/
 	width: 220px;

 }

 .milieu {
 	margin-right: 260px;
 	margin-left: 140px;
 	border-style: double;
 	padding: 10px;

 }