
/*[required] {
   border: 2px dotted orange;
}*/



 .section2 {
 	margin-top: 4%;
 	margin-left: 40%;
 }

 .section3 {
 	margin-top: 90px;
 	margin-left: 27%;
 }


  input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
select,input ,textarea {
	resize: none;
	width: 20%;
	height: 5%;
	background-color: #8dc0f3;
	border-color: black;
	border-style: double;
	border-width: 3px;
}