.soustitre{
	margin-left: 149px;
}
 .section2 {
 	margin-top: 10%;
 	margin-left: 40%;
 }

 .section3 {
 	margin-top: 30px;
 	 }

 .photoprofil {
 	width: 100px;
 }

 .gauche {
 	float: left;
 	margin-right: 10px;
 	border-style: double;
 	padding: 10px;
 }

 .droit {
 	float: right;
 	border-style: double;
 	padding: 10px;

 }

 .milieu {
 	margin-right: 260px;
 	margin-left: 140px;
 	border-style: double;
 	padding: 10px;
 	margin-bottom: 10px;

 }

 a {
 	color: black;
 	text-decoration-line: none;
 }